option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: "3000"
    NODE_ENV: "production"
    AWS_REGION: "us-east-1"
    DYNAMODB_TABLE_NAME: "CrossStitchItems"
    S3_BUCKET_NAME: "cross-stitch-designs-photos"
  aws:elasticbeanstalk:environment:process:default:
    Port: "3000"
    Protocol: "HTTP"